<%- include('../partials/header') %>

<h2>MVP Candidates</h2>
<table id="candidates">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% players.forEach((p) => {%>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.position %></td>
        <td><%= p.team %></td>
        <td><a href="/players/<%= p._id %>">STATS</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>
