<%- include('../partials/header') %>

<section id="show-page">
    <div>Player:</div>
    <div><%= player.name %></div>
    <div>Position:</div>
    <div><%= player.position %></div>
    <div>Team:</div>
    <div><%= player.team %></div>
    <div>Points Per Game</div>
    <div><%= player.points %></div>
    <div>Assists Per Game</div>
    <div><%= player.assists %></div>
    <div>Rebounds Per Game</div>
    <div><%= player.rebounds %></div>
</section>
</form>

<%- include('../partials/footer') %>